.search__page {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
}

.search__nav-option {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

.search__nav-option a, .search__nav-option section a {
  margin: 0 1vw;
  text-decoration: none;
  color: rgb(114, 118, 122, 1);
  font-size: 1.3vw;
}

.container__search-items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
}

.search__items {
  display: flex;
  flex-direction: column;
}

.box__item {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.container__plus {
  width: 25vw;
  height: 30vh;
  border: 1px solid rgb(202, 200, 200);
  border-radius: 20px;
  padding: 50px
}
