.home {
  display: flex;
  flex-direction: column;
  height: 93vh;
}

.home__header {
  display: flex;
  padding: 20px 30px;
  justify-content:flex-end;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  color: rgb(0, 0, 0, 0.87);
  font-size: 1.2vw;
  text-decoration: inherit;
}

.home__header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home__header-right {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__header-right > .MuiSvgIcon-root:hover {
  border-radius: 50%;
  background: rgb(230, 224, 224);
}

.home__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__body {
  display: flex;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
}

.home__container-search {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.home__container-search label {
  height: 5vh;
  background: rgb(248, 249, 250);
  color: rgb(32 33 36);
  margin: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.home__container-search label:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: rgb(34, 34, 34);
}

.apps__icon {
  width: 3vw;
  height: 3vw;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps__icon:hover {
  background: rgba(240, 238, 238, 0.87);
  border-radius: 50%;
}

.language {
  padding-left: 10px;
  text-decoration: inherit;
  color: rgb(26, 13, 171);
}

.language:hover {
  cursor: pointer;
  text-decoration: underline;
}
