.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  color: rgb(0, 0, 0, 0.87);
  font-size: 2vw;
  text-decoration: inherit;
}

.home__header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home__header-right {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__header-right > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__header-right > .MuiSvgIcon-root:hover {
  /* padding: 10px; */
  border-radius: 50%;
  background: rgb(230, 224, 224);
}

.home__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__body {
  display: flex;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
}
