.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 8vh;
  border-radius: 999px;
  padding: 1vw;
  margin-top: 5vh;
  width: 40vw;
}

.search__input > input {
  border: none;
  width: 45vw;
  padding-left: 10px;
}

.search__input > input:focus {
  outline-width: 0;
}
